{% extends "admin/base.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'jobs/admin/operator.css' %}">
{% endblock %}

{% block branding %}
<div class="jh-branding-shell">
    <img class="jh-brand-mark" src="{% static 'jobs/admin/app-icon.png' %}" alt="JobHub">
    <div class="jh-brand-copy">
        <div id="site-name"><a href="{% url 'admin:index' %}">JobHub Operator Console</a></div>
    </div>
</div>
{% endblock %}

{% block nav-global %}
<div class="jh-global-actions">
    <a href="{% url 'admin:index' %}">Dashboard</a>
    <a href="/admin/jobs/vacancy/">Vacancies</a>
    <a href="/admin/jobs/complaint/">Complaints</a>
    <a href="/admin/auth/user/">Users</a>
</div>
{% endblock %}
